	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
	}
			
	#map {
		top: 0;
		height: 100vh;
		margin: 0;
		padding: 0;
		width: 100vw
	}			
	.leaflet-popup-content-wrapper {
		padding: 0px;
		text-align: left;
		pointer-events: all;
		border-radius: 4px;
	}
	.leaflet-popup-content-wrapper {
		padding: 0px;
		text-align: left;
		pointer-events: all;
		
	}
	.leaflet-popup-content {
		padding: 0px 0px 0px;
		margin: 0;
		width: 20vw !important;
	}
	.leaflet-popup-content p {
		margin: 0;
	}
	.leaflet-container a.leaflet-popup-close-button {
		color: #ffffff;
		font-weight: bold;
	}
	.popupBox {
		font-family: roboto;
		display: inline-block;
		width: 20vw;
		border-radius: 5px;	
	}
	.titleBox {
		background-color: #007699;
		color: #ffffff;
		min-height: 40px;
		height: fit-content;
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
		justify-content: center;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.leaflet-popup-content-wrapper, .leaflet-popup-tip {
		background: #007699;
	}

	.titleBoxText {
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		margin: 15px 5px 5px 10px;
		letter-spacing: .010em;
	}		
	.infoText span[title=""] {  display: none !important;  }
	.infoText span[title="null"] {  display: none !important;  }
	@media only screen and (max-width: 768px) {
		.popupBox {width: 25vw !important;}
		.leaflet-popup-content {width: 25vw !important;}
		.infoText {font-size: 0.9em;}
		.titleBoxText {font-size: 1em; }
	}
	@media only screen and (min-width: 769px) and (max-width: 1024px) {
		.popupBox {width: 20vw !important;}
		.leaflet-popup-content {width: 20vw !important;}			
		.titleBoxText {font-size: 13px; }
		.infoText {font-size: 13px;}
	}				